{
  "openapi": "3.0.1",
  "info": {
    "title": "TruFlow Voice API",
    "description": "API for making outbound voice calls and managing voice communications",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.truflow.ai"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSecretAuth": []
    }
  ],
  "paths": {
    "/voice/api/call/outbound": {
      "post": {
        "description": "Initiates an outbound voice call between two phone numbers",
        "requestBody": {
          "description": "Call parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutboundCallRequest"
              }
            }
          },
          "required": true
        },
               "responses": {
          "200": {
            "description": "Call placed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "Call placed successfully",
                  "code": 200,
                  "data": {
                    "call_id": "call_9eefaa9e9xxxxxxxxxxd88d4256"
                  }
                }
              }
            }
          },
           "400": {
            "description": "Bad request or plan limitation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Please upgrade the plan to Make a call",
                  "code": 400
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OutboundCallRequest": {
        "required": [
          "number",
          "customer_num"
        ],
        "type": "object",
        "properties": {
          "number": {
            "description": "TruFlow provided or Twilio imported phone number in format {countrycode}{number} without '+'. Example: 17064066735 for +1 706-406-6735",
            "type": "string"
          },
          "customer_num": {
            "description": "Customer phone number to whom you want to make outbound call in format {countrycode}{number} without '+'. Example: 919561878080 for +91 956-187-8080",
            "type": "string"
          },
          "country_code": {
            "description": "The country code for the customer's number",
            "type": "integer"
          }
        }
      },
      "OutboundCallResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "call_id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Key"
      },
      "apiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Secret"
      }
    }
  }
}